{{define "footer"}}

    <style>
        .footer-icon {
            border: 4px solid #EFF0EB!important;
            padding: 22.5px!important;
        }
    </style>

<footer class="footer">
    <section class="mb-6">
        <div class="buttons is-centered">
            <a href="https://twitter.com/webchest_io" target="_blank"class="button is-rounded is-primary footer-icon">                   
                <span class="icon is-large">
                    <i class="fab fa-twitter fa-2x"></i>
                </span>
            </a>
            <a href="https://www.instagram.com/webchest_io/" target="_blank" class="button is-rounded is-primary footer-icon">                   
                <span class="icon is-large">
                    <i class="fab fa-instagram fa-2x"></i>
                </span>
            </a>
            <a href="https://www.reddit.com/user/WebChest/" target="_blank" class="button is-rounded is-primary footer-icon">                   
                <span class="icon is-large">
                    <i class="fab fa-reddit-alien fa-2x"></i>
                </span>
            </a>
        </div>
    </section>
    <section class="mb-6">
        <nav class="level has-text-weight-semibold has-text-centered">
            <p class="level-item ">
                <a href="https://webchest.io/about" class="link is-info">ABOUT US</a>
            </p>
            <p class="level-item">
                <a href="https://contact.webchest.io/" class="link is-info">CONTACT</a>
            </p>
            <p class="level-item">
                <a href="https://webchest.io/" class="is-info is-size-1 ml-5">WebChest</a>
            </p>
            <p class="level-item ">
                <a href="https://report.webchest.io/" class="link is-info">REPORT</a>
            </p>
            <p class="level-item">
                <a href="https://webchest.io/privacy-policy" class="link is-info">PRIVACY POLICY</a>
            </p>
        </nav>
    </section>
    <section class="mt-6">
        <div class="content has-text-centered">
            <h3 class="title is-size-5 has-text-grey-light">Copyright © 2021 WebChest</h3>
        </div>
    </section>    
</footer>
{{end}}