{{define "title"}}Boilerplate - WebChest{{end}}

{{define "keywords"}}webchest, io, chest, tools, web tools, web, website{{end}}

{{define "description"}}WebChest is a collection of web tools to make life easier. Popular tools include IP Address lookup, Image and Video Converters, WHOIS Lookup, Character Counter, and much more. We add new tools every week!{{end}}

{{define "yield"}}

    <style>
        .tool-image {margin-bottom: -8px;}
        .social-icon {
            border: 4px solid white!important;
            padding: 22.5px!important;
        }
    </style>

    <div class="container">
    
        <section id="top" class="has-text-centered my-4">
            <img src="/assets/images/webchest-logo.png" width="auto" height="auto" alt="WebChest logo" title="WebChest logo" class="mt-6">
            <h1 class="has-text-primary is-size-3 has-text-weight-semibold">BOILERPLATE</h1>
            <p class="is-size-5 has-text-weight-semibold mx-2">Insert 38 characters here</p>            
        </section>

        <hr>

        <section class="mx-2">
            <div class="content">
                <!-- INSERT CONTENT HERE -->
            </div>

            <div class="content">
                <!-- INSERT MORE CONTENT HERE -->
            </div>

            <div class="content">
                <!-- INSERT EVEN MORE CONTENT HERE -->
            </div>
        </section>

        <hr class="my-6">

        <div class="buttons has-addons is-centered mt-6">            
            <a href="https://report.webchest.io/" class="button is-danger has-text-danger is-light is-link is-inverted">REPORT ISSUE</a>
        </div>

        <section id="descriptions" class="my-6">
            <div class="content mx-5 my-6">
                <h2 class="is-size-3 has-text-primary has-text-centered my-6">DESCRIPTIONS</h2>
                <h3 class="has-text-primary">What is a boilerplate?</h3>
                <p>Boilerplate text, or simply boilerplate, is any written text that can be reused in new contexts or applications without significant changes to the original. The term is used in reference to statements, contracts and computer code, and is used in the media to refer to hackneyed or unoriginal writing. <i>Source/Credit: <a href="https://en.wikipedia.org/wiki/Boilerplate_text" target="_blank">Wikipedia</a></i></p> 
                <a href="https://en.wikipedia.org/wiki/Boilerplate_text" target="_blank" class="button is-primary is-inverted">Learn more</a>              
            </div>
        </section>

        <section class="mt-6 mb-6">
            <div class="buttons has-addons is-centered">            
                <a href="/#top" class="button is-primary has-text-primary is-light is-large is-link is-inverted">BACK TO TOP</a>
            </div>
        </section>
    </div>
{{end}}