{{define "title"}}
   Page Not Found - Boilerplate
{{end}}

{{define "keywords"}}webchest,io,chest,tools,web tools,web,website{{end}}

{{define "description"}}WebChest is a collection of web tools to make life easier. Popular tools include IP Address lookup, Image and Video Converters, WHOIS Lookup, Character Counter, and much more. We add new tools every week!{{end}}

{{define "yield"}}
<div class="container">
    <section class="has-text-centered my-6">
        <h1 class="title has-text-primary my-6 is-size-1"> 404 PAGE NOT FOUND</h1>
        <p>(This page no longer exists)</p>        
    </section>
    <section class="has-text-centered my-6">
        <a href="/" class="button is-primary">RETURN TO TOOL</a>
    </section>
</div>
{{end}}